*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --color-app: #babeb3;
    --color-frame: #d5dcc7;
    --color-input-bg: #eef0e4;
    --color-input-text: hsla(84 25% 16% 0.8);
    --display-bg: linear-gradient(
            180deg,
            rgba(60, 82, 31, 0.2) 0%,
            rgba(91, 118, 58, 0.2) 5.11%,
            rgba(39, 57, 16, 0.2) 100%
        ),
        #24281e;
    --color-display-text: #9eba5f;
    --color-button-text: var(--color-input-bg);
    --color-create-button-bg: #659263;
    --color-update-button-bg: #6a9eaa;
    --color-delete-button-bg: #dc7365;
    --color-delete-button-text: #4b4f44;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: var(--color-app);
    color: var(--color-input-text);
}

.center-children {
    display: flex;
    place-content: center;
    place-items: center;
}

* {
    font-size: 16px;
    text-transform: capitalize;
}

main {
    display: flex;
    flex-direction: column;
    height: 517px;
    padding: 8px 16px;
    background-color: var(--color-frame);
}

label {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

input {
    background: var(--color-input-bg);
    border: none;
}

select {
    width: 100%;
    background: var(--display-bg);
    color: var(--color-display-text);
}

#surname-and-name {
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#create-and-update {
    display: flex;
    gap: 6px;
}

button {
    /* background: var(--color-create-button-bg); */
    color: var(--color-button-text);
}

#button-create {
    background-color: var(--color-create-button-bg);
}
#button-update {
    background-color: var(--color-update-button-bg);
}
#button-delete {
    background-color: var(--color-delete-button-bg);
    color: var(--color-delete-button-text);
}

/* Initial, grid-based design as shown on screenshot in 7GUIs instructions */
/* main {
  padding: 32px;
  display: grid;
  height: 360px;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "fp ."
    "nl nef"
    "b b"
} */

/* #filter-prefix {
  grid-area: fp;
}

#names-list {
  grid-area: nl;
}

#names-edit-fields {
  grid-area: nef;
}

#buttons {
  grid-area: b;
  display: flex;
  gap: 32px;
} */
